@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== 
	FONT IMPORTS
===========================================*/

/* Archia */

@font-face {
	font-family: "Archia";
	font-weight: 400;
	src: url("../fonts/archia/Archia-Regular.woff2");
}
@font-face {
	font-family: "Archia";
	font-weight: 500;
	src: url("../fonts/archia/Archia-Medium.woff2");
}
@font-face {
	font-family: "Archia";
	font-weight: 600;
	src: url("../fonts/archia/Archia-SemiBold.woff2");
}
@font-face {
	font-family: "Archia";
	font-weight: 700;
	src: url("../fonts/archia/Archia-Bold.woff2");
}

/* F37 Bolton  */
@font-face {
	font-family: "F37 Bolton";
	font-weight: 300;
	src: url("../fonts/f37bolton/F37Bolton-Light.woff2");
}
@font-face {
	font-family: "F37 Bolton";
	font-weight: 400;
	src: url("../fonts/f37bolton/F37Bolton-Regular.woff2");
}
@font-face {
	font-family: "F37 Bolton";
	font-weight: 500;
	src: url("../fonts/f37bolton/F37Bolton-Medium.woff2");
}
@font-face {
	font-family: "F37 Bolton";
	font-weight: 700;
	src: url("../fonts/f37bolton/F37Bolton-Bold.woff2");
}
@font-face {
	font-family: "F37 Bolton";
	font-weight: 900;
	src: url("../fonts/f37bolton/F37Bolton-SuperBold.woff2");
}

h1, h2, h3, h4, h5, h6 {
	@apply font-archia;
	@apply font-medium;
	@apply text-hawk-dark;
}

.btn {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-primary {
	padding: 1rem 1.5rem;
	min-width: 130px;
	height: 56px;
	border-radius: 4px;
}

.btn-primary .line {
	position: absolute;
	transition: transform 0.3s ease;
}

.btn-primary:hover .line {
	font-weight: 500;
	text-decoration: underline;
}

.btn-primary .line--one {
	transform: translateY(0);
}
.btn-primary .line--two {
	transform: translateY(-50px);
}

.btn-primary:hover .line--one {
	transform: translateY(50px);
}

.btn-primary:hover .line--two {
	transform: translateY(0);
}


.text-h1 {
	@apply text-6xl;
}
.text-h2 {
	@apply text-5xl;
}
.text-h3 {
	@apply text-3xl;
}
.text-h4 {
	@apply text-xl;
}

body {
	@apply font-f37bolton;
}

.prose {
	max-width:100%;
}

.btn-primary {
	@apply py-4;
	@apply px-6;
}

.btn > div {
	position: relative;
}

.cta-block .text-card h2 {
	@apply text-hawk-primary;
}

p {
	@apply text-hawk-dark-grey;
}

.company-mission__statement {
	font-kerning: none;
	@apply font-medium;
}

.overlay {
	position: fixed;
	z-index: 900;
	background-color: rgba(0, 0, 0, 0.05);
	inset: 0;
}

/* ========================================= 

NAVBAR SECTION

========================================= */

.mobile-nav {
	position: fixed !important;
	left: 0;
	right: 0;
	position: relative;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
	z-index: 999;
	background-color: white;
}

.mobile-nav nav {
	display: grid;
	grid-template-columns: 125px auto 24px;
}

.mobile-nav nav .logo {
	grid-column: 1/2;
	grid-row: 1/2;
}

.mobile-nav nav .menu-icon {
	grid-column: 3/4;
	grid-row: 1/2;
}

.mobile-nav nav .mobile-nav__list {
	grid-column: 1/4;
	grid-row: 2/3;
}

.mobile-nav__list ul {
	align-items: flex-start;
	padding-top: 2rem;
	padding-bottom: 1rem;
	gap: 2rem;
	width: 100%;
}

.mobile-nav__list ul li {
	width: 100%;
}

.mobile-nav__list ul li button {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* ========================================= 

HERO SECTION

========================================= */

.hero-wrapper .text-card {
	margin-inline: auto;
}

.hero-wrapper .text-card h1 {
	font-size: 3rem !important;
}

.hero-glitter {
	display: none;
}

.hero-glitter--left {
	left:  -50%;
	top: -55%;
	transform: rotate(90deg);
}

.hero-glitter--right {
	right: -15rem;
	top: 0rem;
}

.square {
	position: absolute;
	z-index: 2;
	@apply bg-hawk-primary;
}

.square--top-left {
	height: 118px;
	width: 118px;
	top: 0;
	left: 0;
}

.square--top-right {
	height: 32px;
	width: 220px;
	top: 0;
	right: 0;
}

.square--bottom-left {
	height: 32px;
	width: 320px;
	bottom: 0;
	left: 0;
}

.hero-image-decor {
	position: absolute;
	background-color: white;
}

.hero-image-decor--top-right {
	top: 0;
	right: 0;
	height: 16px;
	width: 200px;
}

.hero-image-decor--bottom-left {
	bottom: 0;
	left: 0;
	height: 40px;
	width: 160px;
}
#card-cad-incident {
	top: 35%;
	left: 15%;
	backdrop-filter: blur(5px);
}

#card-vehicle {
	bottom: 20%;
	left: 40%;
	transform: translateX(-50%);
	backdrop-filter: blur(5px);
}

#card-public-cctv {
	top: 35%;
	right: 10%;
	backdrop-filter: blur(5px);
}


/* ========================================= 

ACCORDIAN SECTION

========================================= */

.accordian__image {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	top: 0;
	overflow: hidden;
	position: relative;
}

.accordian__image-overlay {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.accordian--isOpen .accordian__image {
	min-height: 500px;
}

#featureImgVisualize,
#featureImgCollaborate,
#featureImgRespond {
	/* left: 10%;
	top: 20%;
	width: 80%; */
	height: 100%;
	width: 100%;
	z-index: 2;
}

/* ========================================= 

CTA SECTION

========================================= */

.cta-glitter {
	position: absolute;
	z-index: 1;
}

.cta-glitter--left {
	bottom: 0;
	left: 0;
}

.cta-glitter--right {
	top: 0;
	right: 0;
}


/* ========================================= 

MEDIA QUERIES

========================================= */


@media screen and (max-width: 639px) {
	.accordian__foreground-img {
		left: 50%;
		transform: translateX(-50%);
		top: 2rem;
		width: 80%;
		max-width: 320px;
	}
}

@media screen and (min-width: 640px) {

	.hero-wrapper .text-card h1 {
		font-size: 4.5rem !important;
	}

}

@media screen and (min-width: 768px) {
	.accordian__content {
		margin-left: calc(420px + 3rem);
	}
	
	.accordian__image {
		max-width: 420px;
		max-height: 550px;
	}

	.hero-glitter {
		position: absolute;
		z-index: -1;
		display: block;
	}

	#featureImgVisualize,
	#featureImgCollaborate,
	#featureImgRespond {
		left: 10%;
		top: 10%;
		width: 80%;
	}
}

@media screen and (min-width: 1028px) {
	.accordian__content {
		margin-left: calc(620px + 5rem);
	}
	.accordian__image {
		max-width: 620px;
		max-height: 784px;
	}

	#featureImgVisualize,
	#featureImgCollaborate,
	#featureImgRespond {
		left: 20%;
		top: 20%;
		width: 100%;
	}
}